@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e272e;
  color: #dcdde1;
  font-family: Roboto, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px;
}

.home h1 {
  font-size: 48px;
}

.private-link {
  margin-top: 20px;

  color: #d2d2d2;
  text-decoration: none;
  font-size: 18px;

  transition: color 0.5s;
}

.private-link:hover {
  color: #14c9cf;
}
