.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.content h1 {
  font-size: 58px;
  margin-bottom: 20px;
}

.content .homeButton {
  background-color: #dcdde1;
  color: #2d3436;
}

.content .logoutButton {
  background-color: #ff5e57;
  color: #fff;
}

.content button {
  margin: 20px 20px 0px 0px;
  width: 100px;
  height: 35px;

  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;

  transition: 0.5s;
}

.content button:hover {
  filter: brightness(0.6);
}

.loginData {
  align-items: left;
}

.loginData strong {
  color: #14c9cf;
  font-weight: 700;
  margin-right: 5px;
}

.loginData p {
  color: #c7bf4b;
}
